In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [5]:
#Answer 1

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Answer 2

In [6]:
a=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(a)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [7]:
#Answer 3

In [9]:
name=['Alice','Bob','Claire']
age=[25,30,27]
gender=['Female','Male','Female']

data={'Name': name, 'Age': age, 'Gender': gender}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
#Answer 4

A dataframe is a tabular data structure that consists of rows and columns. It can be thought of as a collection of Pandas Series objects, where each column represents a Series. A DataFrame provides a convenient way to store, manipulate, and analyze data.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can store data of any data type. It is similar to a column in a spreadsheet or a single variable in a dataset. A DataFrame can be seen as a collection of Series, where each column represents a Series.

In [11]:
import pandas as pd

# Creating a Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
print("Series:")
print(names)
print()

# Creating a DataFrame
data = {'Name': names, 'Age': [25, 30, 35, 40], 'City': ['New York', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

Series:
0      Alice
1        Bob
2    Charlie
3      David
dtype: object

DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo

In [12]:
#Answer 5

head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the structure and content of a DataFrame.

info(): This function provides a summary of the DataFrame, including the column names, data types, and non-null values. It helps to understand the data types and identify missing or inconsistent values.

describe(): This function generates descriptive statistics for numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. It gives you a quick overview of the central tendencies and distribution of the data.

shape: This attribute returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and columns.

columns: This attribute returns a list of column names in the DataFrame.

iloc[] and loc[]: These functions allow for indexing and slicing of a DataFrame. iloc[] is used for integer-based indexing, while loc[] is used for label-based indexing. They enable you to select specific rows or columns based on their indices or labels.

drop(): This function is used to remove rows or columns from the DataFrame. It allows you to specify the labels or indices of the rows or columns you want to drop.

sort_values(): This function is used to sort the DataFrame by one or more columns. It allows you to specify the column(s) by which the DataFrame should be sorted.

groupby(): This function is used for grouping and aggregating data based on one or more columns. It allows you to apply functions like sum(), mean(), count(), etc., on specific groups of data.

merge(): This function is used to combine two or more DataFrames based on a common column or index. It is useful when you want to combine information from different sources into a single DataFrame.

In [13]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)

# View the first few rows
print("First few rows:")
print(df.head())
print()

# Check the data types and non-null values
print("Data summary:")
print(df.info())
print()

# Generate descriptive statistics for numerical columns
print("Descriptive statistics:")
print(df.describe())
print()

# Sort the DataFrame by 'Age' column
sorted_df = df.sort_values('Age')
print("Sorted DataFrame:")
print(sorted_df)

First few rows:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo

Data summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None

Descriptive statistics:
             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000

Sorted DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3    David   40     Tokyo

In [14]:
#Answer 6

Among the options provided, both Series and DataFrame are mutable in nature, while Panel is not.

In Pandas, a mutable object can be modified after its creation. This means that you can change the values, add or remove rows or columns, and perform other manipulations on the object.

Series: A Pandas Series is mutable, meaning you can modify its elements, change the index labels, or add new elements to the Series.

DataFrame: A Pandas DataFrame is also mutable. You can modify the values in individual cells, add or remove columns, change the index or column labels, and perform various operations to modify the structure and content of the DataFrame.

Panel: However, Panels in Pandas are not mutable. Panels were a data structure in older versions of Pandas but have been deprecated in favor of using multi-indexed DataFrames. Panels are not recommended for new code and lack many of the features and flexibility of DataFrames.

In [15]:
#Answer 7

In [16]:
import pandas as pd

# Creating Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'London', 'Paris'])

# Creating DataFrame using the Series
data = {'Name': names, 'Age': ages, 'City': cities}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

we create three Series: names, ages, and cities. Each Series represents a column of data.

Next, we create a dictionary data where the keys are the column names ('Name', 'Age', 'City') and the values are the corresponding Series. We pass this dictionary to the pd.DataFrame() function to create a DataFrame named df.

Finally, we print the DataFrame using the print() function, which displays the tabular structure with three columns: 'Name', 'Age', and 'City'. Each row represents an observation or entry, with values from the respective Series.