In [1]:
#Answer 1

Five functions of pandas library with execution are:
1. head()
It displays the first few rows of the dataframe.
for example-

In [7]:
import pandas as pd

In [10]:
name=['tanisha','teena','Fatima','garima','rohan','manya']
age=[25,14,63,23,18,45]
marks=[12,14,20,8,5,16]
data={'Name': name,'Age': age,'Marks': marks}

df=pd.DataFrame(data)
print(df)

      Name  Age  Marks
0  tanisha   25     12
1    teena   14     14
2   Fatima   63     20
3   garima   23      8
4    rohan   18      5
5    manya   45     16

In [11]:
df.head()

      Name  Age  Marks
0  tanisha   25     12
1    teena   14     14
2   Fatima   63     20
3   garima   23      8
4    rohan   18      5

2.tail()
It displays last few rows of the dataframe.for example

In [12]:
df.tail()

     Name  Age  Marks
1   teena   14     14
2  Fatima   63     20
3  garima   23      8
4   rohan   18      5
5   manya   45     16

3.describe()
It displays some description about the dataframe.If it has combined integer or float and string values it will display some information regarding int or float type like count , mean, deviation etc. for example

In [13]:
df.describe()

             Age     Marks
count   6.000000   6.00000
mean   31.333333  12.50000
std    18.853824   5.43139
min    14.000000   5.00000
25%    19.250000   9.00000
50%    24.000000  13.00000
75%    40.000000  15.50000
max    63.000000  20.00000

4. groupby()
This function is used to group columns of our choice to perform specific operations only on those columns.for example

In [15]:
df.groupby('Marks').mean()

/tmp/ipykernel_70/349349070.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Marks').mean()

        Age
Marks
5      18.0
8      23.0
12     25.0
14     14.0
16     45.0
20     63.0

5.to_csv
This function converts the contents of a dataframe to a csv file.for example

In [17]:
df.to_csv('practise.csv',index=False)

In [18]:
#Answer 2

In [30]:
import pandas as pd

def reindex_with_increment(df):
    # Resetting the index to default integer index (0, 1, 2, ...)
    df_reset = df.reset_index(drop=True)

    # Creating a new index starting from 1 and incrementing by 2
    new_index = pd.RangeIndex(start=1, stop=2*len(df_reset), step=2)

    # Assigning the new index to the DataFrame
    df_reset.index = new_index

    return df_reset

# Example usage:
# Assuming 'df' is your original DataFrame with columns 'A', 'B', and 'C'
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
reindexed_df = reindex_with_increment(df)
print(reindexed_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [31]:
#Answer 3

In [52]:
import pandas as pd
def sum_values(df):
    summ = 0
    for i in df['Values']:
        summ = summ + i
        if i == 3:
            break
    return summ
values = [1, 2, 3, 4, 5]
df = pd.DataFrame({'Values': values})
sum_of_values = sum_values(df)
print("Sum of the first three values:", sum_of_values)

Sum of the first three values: 6

In [55]:
#Answer 4

In [65]:
import pandas as pd
def new_col(df):
    word_count= lambda text:len(text.split())
    df['Word_Count']=df['Text'].apply(word_count)
    
    return df
    
    
text= ['Tanisha']
df = pd.DataFrame({'Text': text})
df1=new_col(df)
print(df1)

      Text  Word_Count
0  Tanisha           1

In [59]:
#Answer 5

DataFrame.size():

DataFrame.size() returns the total number of elements in the DataFrame.
It counts both rows and columns, so the returned value is the product of the number of rows and the number of columns.
The returned value is an integer representing the total number of elements in the DataFrame

In [60]:
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Getting the size of the DataFrame
size = df.size
print(size)  # Output: 6

6

DataFrame.shape():

DataFrame.shape() returns a tuple that represents the dimensions of the DataFrame.
It provides information about the number of rows and the number of columns in the DataFrame.
The returned value is in the format (rows, columns).

In [61]:
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Getting the shape of the DataFrame
shape = df.shape
print(shape)  # Output: (3, 2)

(3, 2)

In [62]:
#Answer 6

pandas.read_excel() function- This function is specifically designed to read data from Excel files and create a DataFrame.

import pandas as pd

# Reading an Excel file and creating a DataFrame
df = pd.read_excel('file.xlsx')

# Printing the DataFrame
print(df)

In [64]:
#Answer 7

In [67]:
import pandas as pd
def add_col(df):
    
    df['Username']=df['Email'].str.split('@').str.get(0)
    return df
    
    
email= ['tanisha@gmail.com','teena@gmail.com']
df = pd.DataFrame({'Email': email})
df1=add_col(df)
print(df1)

               Email Username
0  tanisha@gmail.com  tanisha
1    teena@gmail.com    teena

In [68]:
#Answer 8

In [8]:
import pandas as pd
def new_df(df):
    
    df1=df[(df['A']>5) & (df['B']<10)]
    return df1

a=[3,8,6,2,9]
b=[5,2,9,3,1]
c=[1,7,4,5,2]
data={'A':a,'B':b,'C':c}
df= pd.DataFrame(data)
df1=new_df(df)
print(df1)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [9]:
#Answer 9

In [31]:
import pandas as pd
def mmd(df):
    mean=df['Values'].mean()
    median =df['Values'].median()
    std_dev=df['Values'].std()
    return ('Mean is ' ,mean,'Median is' ,median,'Standard deviation is' ,std_dev)
values = [1, 2, 3, 4, 5]
df = pd.DataFrame({'Values': values})
df1=mmd(df)
print(df1)

('Mean is ', 3.0, 'Median is', 3.0, 'Standard deviation is', 1.5811388300841898)

In [33]:
#Answer 10 not done

In [34]:
#Answer 11

In [35]:
pip install datetime

Collecting datetime
  Downloading DateTime-5.1-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 8.1 MB/s eta 0:00:00
Collecting zope.interface
  Downloading zope.interface-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 kB 33.8 MB/s eta 0:00:00
Requirement already satisfied: pytz in /opt/conda/lib/python3.10/site-packages (from datetime) (2022.6)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from zope.interface->datetime) (65.5.1)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-5.1 zope.interface-6.0
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd
import datetime
def add_weekday_column(df):
    df['Weekday'] = df['Date'].strftime('%A')
    return df
df = pd.DataFrame({
    'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])
})
df1 = add_weekday_column(df)
print(df1)

AttributeError: 'Series' object has no attribute 'strftime'

In [48]:
#Answer 12

In [50]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df[mask]
    return selected_rows

# Example DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=60),
    'Value': range(60)
})

# Select rows between dates
selected_df = select_rows_between_dates(df)

# Print the selected DataFrame
print(selected_df)

         Date  Value
0  2023-01-01      0
1  2023-01-02      1
2  2023-01-03      2
3  2023-01-04      3
4  2023-01-05      4
5  2023-01-06      5
6  2023-01-07      6
7  2023-01-08      7
8  2023-01-09      8
9  2023-01-10      9
10 2023-01-11     10
11 2023-01-12     11
12 2023-01-13     12
13 2023-01-14     13
14 2023-01-15     14
15 2023-01-16     15
16 2023-01-17     16
17 2023-01-18     17
18 2023-01-19     18
19 2023-01-20     19
20 2023-01-21     20
21 2023-01-22     21
22 2023-01-23     22
23 2023-01-24     23
24 2023-01-25     24
25 2023-01-26     25
26 2023-01-27     26
27 2023-01-28     27
28 2023-01-29     28
29 2023-01-30     29
30 2023-01-31     30

In [46]:
#Answer 13

pandas library itself