Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [1]:
import pandas as pd

In [4]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [ ]:
#Answer 1
#Write a code to print the data present in the second row of the dataframe, df.

In [10]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [11]:
#Answer 2

loc and iloc are used to access or extract data from a dataframe but they do have some differences between them.

Indexing Method:

loc uses label-based indexing. It allows you to access data based on the row and column labels.
iloc uses integer-based indexing. It allows you to access data based on the integer location (index) of the rows and columns.
Input Format:

For loc, you pass the row and column labels as inputs.
For iloc, you pass the integer-based row and column indices as inputs.
Inclusion of Endpoints:

With loc, the endpoints of the range are inclusive. For example, df.loc[1:3] will include rows 1, 2, and 3.
With iloc, the endpoints of the range are exclusive. For example, df.iloc[1:3] will include rows 1 and 2, but not row 3.

In [25]:
#Answer 3

In [23]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
print(new_df)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [21]:
print(new_df.loc[2] )
print(new_df.iloc[2] )

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

The difference between both the outputs is that the loc function is printing the output where the index location is mentioned as 2 whereas the iloc function is printing the value which is exactly present on index 2.

In [26]:
#Answer 4

Consider the below code to answer further questions:

In [28]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print(df1)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.550516  0.127221  0.699151  0.060971  0.796108  0.511831
2  0.630722  0.673864  0.288629  0.686355  0.887476  0.692390
3  0.719032  0.833873  0.391605  0.249461  0.361488  0.132188
4  0.341182  0.814461  0.746861  0.531990  0.418168  0.553993
5  0.533445  0.643605  0.198625  0.448219  0.322394  0.845667
6  0.084634  0.937378  0.080650  0.674795  0.523204  0.723258

In [32]:
df1.mean()

column_1    0.476589
column_2    0.671734
column_3    0.400920
column_4    0.441965
column_5    0.551473
column_6    0.576555
dtype: float64

In [33]:
df1['column_2'].std()

0.2879295648879639

In [34]:
#Answer 5

In [42]:
df1.loc[(2,'column_2')]= 'variable'

In [43]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6    1
1  0.550516  0.127221  0.699151  0.060971  0.796108  0.511831  NaN
2  0.630722  variable  0.288629  0.686355  0.887476  0.692390  var
3  0.719032  0.833873  0.391605  0.249461  0.361488  0.132188  NaN
4  0.341182  0.814461  0.746861  0.531990  0.418168  0.553993  NaN
5  0.533445  0.643605  0.198625  0.448219  0.322394  0.845667  NaN
6  0.084634  0.937378  0.080650  0.674795  0.523204  0.723258  NaN

In [44]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

We encountered an error because a float type and a string type value cannot use numeric functions like mean.

In [45]:
#Answer 6

The "window" functions refer to operations that are applied over a sliding or rolling window of data. These functions allow you to perform calculations on a subset of data points within a specified window size, which can be useful for analyzing time series or other ordered data.
some commonly used window functions:

Mean (mean): Calculates the mean value of the data points within the window.
Sum (sum): Calculates the sum of the data points within the window.
Min (min): Finds the minimum value within the window.
Max (max): Finds the maximum value within the window.
Count (count): Counts the number of non-null values within the window.
Median (median): Calculates the median value within the window.
Standard Deviation (std): Computes the standard deviation of the data points within the window.
Variance (var): Calculates the variance of the data points within the window.

In [3]:
#Answer 7

In [2]:
#import pandas as pd
import datetime as dt
current_date=dt.datetime.now()
current_month=current_date.month
current_year=current_date.year
print(current_month)
print(current_year)

7
2023

In [4]:
#Answer 8

In [10]:
import pandas as pd
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
timestamp1 = pd.Timestamp(date1)
timestamp2 = pd.Timestamp(date2)
time_difference = timestamp2 - timestamp1
days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds // 60) % 60
print("Time Difference:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD):  2023-10-09
Enter the second date (YYYY-MM-DD):  2023-10-19

Time Difference:
Days: 10
Hours: 0
Minutes: 0

In [11]:
#Answer 9

In [3]:
import pandas as pd
df1=pd.read_csv("practise.csv")
categorical_data=['hi','hey',1,4,5,'hello']
df1['Categorical data']= categorical_data
df1.to_csv('practise.csv',index=False)

In [5]:
import pandas as pd
file_name = input("Enter the file name: ")
df = pd.read_csv(file_name)
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ").split(",")
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
df.sort_values(column_name, inplace=True)
print(df)

Enter the file name:  practise.csv
Enter the column name:  Categorical data
Enter the category order (comma-separated):  hey,hello,hi,1,4,5

   Unnamed: 0     Name  Age  Marks Categorical data
1           1    teena   14     14              hey
5           5    manya   45     16            hello
0           0  tanisha   25     12               hi
2           2   Fatima   63     20                1
3           3   garima   23      8                4
4           4    rohan   18      5                5

In [6]:
#Answer 10

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
file_name = input("Enter the file name: ")
df = pd.read_csv(file_name)
pivot_table = df.pivot_table(values='Sales Channel', index='Order ID', columns='Total profit', aggfunc='sum')
pivot_table.plot(kind='bar', stacked=True)
plt.xlabel('Order ID')
plt.ylabel('Sales Channel')
plt.title('Sales of Product Categories Over Time')
plt.legend()
plt.show()

Enter the file name:  sales.csv

KeyError: 'Total profit'

In [9]:
#Answer 11

In [10]:
import pandas as pd

In [15]:
student_id=[1,2,3,4,5,6,7,8,9,10]
test_score=[85,90,80,75,85,82,78,85,90,85]
df=pd.DataFrame({'Student ID': student_id , 'Test Score': test_score})
df.to_csv("student_data.csv", index=False)

In [18]:
file_name=input("Enter the file name")
df1=pd.read_csv(file_name)
mean_test_score=df1['Test Score'].mean()
median_test_score=df1['Test Score'].median()
mode_test_score=df1['Test Score'].mode()
print(mean_test_score)
print(median_test_score)
print(mode_test_score)

Enter the file name student_data.csv

83.5
85.0
0    85
Name: Test Score, dtype: int64