In [1]:
#Answer 1

We use for loop when we wish to iterate something over, be it a list, a string,a tuple , a dictionary etc or whether we wish to iterate over a sequence infinitely or with a range. For example, to print numbers from 10 to 1 in reverse.

In [5]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

We use while loop to iterate over something but the while condition needs to be true to keep the loop running. For example, we wish to print numbers in reverse order till 10 but only when the number entered by user is greater than 10.

In [7]:
a=int(input('Enter a number '))
while a>10:
    print(a)
    a-=1

Enter a number  25

25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [8]:
#Answer 2

Python program to print the sum and product of the first 10 natural numbers using for and while loop.

Using for loop

In [14]:
summation=0
product=1
for i in range(1,11):
    summation+=i
    product*=i
    
print('Sum of first 10 natural numbers is',summation, 'and product is', product)

Sum of first 10 natural numbers is 55 and product is 3628800

Using while loop

In [1]:
num=int(input('Enter a number'))
sum=0
product=1
while num>0:
    sum=sum+num
    product=product*num
    num-=1
print(sum, product)

Enter a number 10

55 3628800

In [2]:
#Answer 3

In [11]:
units=int(input('Enter the number of units consumed per month'))
if units<=100:
    print('You are being charged rs 4.5 per unit ')
    print('Your electricity bill is ', unit*4.5)
elif units>100 and units <=200:
    print('You are being charged rs 6 per unit ')
    print('Your electricity bill is ', unit*6)
elif units>200 and units <=300:
    print('You are being charged rs 10 per unit ')
    print('Your electricity bill is ', unit*10)
elif units==310:
    print('Your electricity bill is Rs 2250')
        
else:
    print('You are being charged rs 20 per unit ')
    print('Your electricity bill is ', unit*20)

Enter the number of units consumed per month 310

Your electricity bill is Rs 2250

In [18]:
#Answer 4

In [1]:
list=[]
for i in range(1,101):
    list.append(i)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

Using for loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [1]:
list1=[]
for j in list:
    print(j**3)
    if (j**3)%4  or (j**3)%5:
        list1.append(j)
print(list1)

TypeError: 'type' object is not iterable

Using while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [ ]:
list2=[]

In [12]:
#Answer 5

In [17]:
count=0
str='I want to become a data scientist'
for vowel in str:
    if vowel=='a' or vowel=='e' or vowel=='i' or vowel=='u' or vowel=='o' or vowel=='A'  or vowel=='E' or vowel=='I' or vowel=='O' or vowel=='U' :
        count=count+1
print(count)

12